<html>
  <head>
    <title>Similarity Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <a href="index.html">Home</a>
      <h1>Image Similarity</h1>
      <div class="row justify-content-center">
        <div><img class="img-thumbnail" src='{{target_image.uri}}'></img><div><a href="{{target_image.src}}">{{target_image.src | basename}}</a></div></div>
      </div>
      <h2 class="mt-5">Similar Images</h2>
      <div class="row justify-content-center">
        {% for image in similar_images %}
        <div><a href="{{image.filename}}.html"><img class="img-thumbnail" src='{{image.uri}}'></img></a><div><a href="{{image.src}}">{{image.src | basename}}</a></div></div>
        {% endfor %}
      </div>
      <h2 class="mt-5">Dissimilar Images</h2>
      <div class="row justify-content-center">
        {% for image in dissimilar_images %}
        <div><a href="{{image.filename}}.html"><img class="img-thumbnail" src='{{image.uri}}'></img></a><div><a href="{{image.src}}">{{image.src | basename}}</a></div></div>
        {% endfor %}
      </div>
  </body>
</html>
