<html>
  <head>
    <title>Similarity Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <a href="index.html">Home</a>
      <h1>Welcome to my image similarity search</h1>
      <div id="image_row" class="row"></div>

        <script>
          var element = document.getElementById("image_row");

          for (var n = 0; n < 12; n++){
                              i = Math.floor(Math.random() * {{num_images}})
            var template = document.createElement('template');
            let snip = `<div class='col-md-4'><a href='${i}.html'><img class='img-thumbnail' src='images/${i}.jpg'></img></a></div>`;
                          template.innerHTML = snip;
                          console.log(snip);
                       element.appendChild(template.content.firstChild)
          }


          </script>
  </body>
</html>
